<a href="https://colab.research.google.com/github/Akash-280419/DATA-SCIENCE-PRACTICAL/blob/main/practical1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Practical 1
#Write a numpy program to swap a row and col of s give array in reverse order.
#row r1=c1,c2,c3,c4
#r2=0,1,2,3,4
#r3=90,91,93,94
#r4=500,600,300
import numpy as np
a=np.array([['c1','c2','c3','c4'],[0,1,3,4],[90,91,93,94],[500,600,300,200]])
print('orignal array:')
print(a)

orignal array:
[['c1' 'c2' 'c3' 'c4']
 ['0' '1' '3' '4']
 ['90' '91' '93' '94']
 ['500' '600' '300' '200']]

In [11]:
print("\\swap the row of the said array in revers order:")
swap_row=a[::,::-1]
print(swap_row)

\swap the row of the said array in revers order:
[['c4' 'c3' 'c2' 'c1']
 ['4' '3' '1' '0']
 ['94' '93' '91' '90']
 ['200' '300' '600' '500']]

In [12]:
print("\\swap the coloum of the said array in revers order:")
swap_column=a[::,::-1]
print(swap_column)

\swap the coloum of the said array in revers order:
[['c4' 'c3' 'c2' 'c1']
 ['4' '3' '1' '0']
 ['94' '93' '91' '90']
 ['200' '300' '600' '500']]

In [13]:
print("\\swap the row of the said array in revers order:")
swap_row_column=a[::-1,::-1]
print(swap_row_column)

\swap the row of the said array in revers order:
[['200' '300' '600' '500']
 ['94' '93' '91' '90']
 ['4' '3' '1' '0']
 ['c4' 'c3' 'c2' 'c1']]

In [14]:
print('swap 2nd and 4th')
print('Orignal array')
print(a)
a[[1,3],:]=a[[3,1],:]
print(a)

swap 2nd and 4th
Orignal array
[['c1' 'c2' 'c3' 'c4']
 ['0' '1' '3' '4']
 ['90' '91' '93' '94']
 ['500' '600' '300' '200']]
[['c1' 'c2' 'c3' 'c4']
 ['500' '600' '300' '200']
 ['90' '91' '93' '94']
 ['0' '1' '3' '4']]