<a href="https://colab.research.google.com/github/Akash-280419/DATA-SCIENCE-PRACTICAL/blob/main/practical6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
import seaborn as sns
import numpy as np

df=pd.DataFrame({"Full Name":['Akash Yadav','Ritik Yadav', 'Abhinay baki','Sarthak zaware'],
      "Roll No":[36,37,73,72],
      "marks":[99,99,98,80],
      "age":[23,22,21,20],
      "sex":['male','male','male','othermale']
      })
print(df)

        Full Name  Roll No  marks  age        sex
0     Akash Yadav       36     99   23       male
1     Ritik Yadav       37     99   22       male
2    Abhinay baki       73     98   21       male
3  Sarthak zaware       72     80   20  othermale

In [32]:
data=df['first Name']=df['Full Name'].str.split().str[0]
print(data)

0      Akash
1      Ritik
2    Abhinay
3    Sarthak
Name: Full Name, dtype: object

In [33]:
mean_age=df['age'].mean()
df["age mean"]=df['age'].fillna(mean_age)
print(df)

        Full Name  Roll No  marks  age        sex first Name  age mean
0     Akash Yadav       36     99   23       male      Akash        23
1     Ritik Yadav       37     99   22       male      Ritik        22
2    Abhinay baki       73     98   21       male    Abhinay        21
3  Sarthak zaware       72     80   20  othermale    Sarthak        20

In [34]:
df=df.rename(columns={'sex':'Gender'})
print(df)

        Full Name  Roll No  marks  age     Gender first Name  age mean
0     Akash Yadav       36     99   23       male      Akash        23
1     Ritik Yadav       37     99   22       male      Ritik        22
2    Abhinay baki       73     98   21       male    Abhinay        21
3  Sarthak zaware       72     80   20  othermale    Sarthak        20

In [35]:
df.groupby('Gender').agg({'Gender':'count'})

           Gender
Gender
male            3
othermale       1

In [37]:
Akash=sns.load_dataset("titanic")
print(Akash)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [ ]:
df.too_csv""

In [39]:
Akash['survived'].map(lambda x:'survived' if x==1 else 'not survived')

0      not survived
1          survived
2          survived
3          survived
4      not survived
           ...
886    not survived
887        survived
888    not survived
889        survived
890    not survived
Name: survived, Length: 891, dtype: object